<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">NodeJS Shop</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="/">Shop</a>
                  <a class="nav-link active" href="/admin/add-product">Add Product</a>
                </div>
              </div>
            </div>
          </nav>
    </header>

    <main class="m-3">
        <form action="/admin/add-product" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1" class="mb-3">Title</label>
              <input type="text" class="form-control mb-3" placeholder="Enter title" name="title">
            </div>
            <button class="btn btn-primary" type="submit">Add Product</button>
          </form>
    </main>
</body>

</html>