extends layouts/main-layout.pug

block styles
    link(rel='stylesheet' href='/css/bootstrap.min.css')
block content
    main.m-3
        if hasProducts
            .card-group
                each product in prods
                    span.card(style='max-width: 285px;')
                        img.card-img-top(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtfcsJm7Qsd7mblIQo4VLuPN6CfFc70mySwQ&usqp=CAU' alt='Card image cap')
                        .card-body
                            h5.card-title Card title
                            h6.product__price $19.99
                            p.card-text.product__description
                            | A nice book for you to read in the shade of a palm tree on the beach.
                            hr
                            button.btn.btn-danger(href='#') Add to Cart
        else
            h1 No Products
